<!DOCTYPE html>
<html>

  <head>
    <!--
    <a  href="{{ url_for('results') }}">Result</a>
    -->
    <title>Smart Identity  Server</title>
      
    <ul class="nav nav-tabs">
        <li role="presentation" class="active" ><a href="{{url_for('index')}}">About</a></li>
        <li role="presentation" class="active"><a href="{{url_for('upload_file')}}">Upload</a></li>
        <li role="presentation" class="active"><a href="{{url_for('results')}}">Result</a></li>
    </ul>
      
      
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
      
    <!-- CSS WebSlides -->
    <link rel="stylesheet" type='text/css' media='all' href="static/css/webslides.css">
      
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/orange.ico') }}">
      <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
      <!--link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen"-->
      <link href="{{ url_for('static', filename='css/dropzone.css') }}" rel="stylesheet" media="screen">
  </head>
    

   <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/dropzone.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap.js') }}"></script>

  </body>

</html>
