{% extends "_base.html" %}

{% block content %}

 <section>
          <!--.wrap = container (width: 90%) -->
          <div class="wrap size-50 aligncenter">
            <h2><strong>Why Smart Identity?</strong></h2>
            <p class="text-intro">Automatic & Fast </p>
            <div class="bg-white shadow">
              <ul class="flexblock reasons">
                <li>
                  <h2>Automate</h2>
                  <p>Smart Identity is about automatism. This is about reducing human resource consumming.</p>
                </li>
                <li>
                  <h2>Faster</h2>
                  <p>Simply upload ID card and have the result within a few seconds.</p>
                </li>
              </ul>
            </div>
            <!-- .end .bg-white shadow -->
          </div>
          <!-- .end .wrap -->
</section>

<section>
          <!--.wrap = container (width: 90%) -->
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h3><strong>Smart Identity overview</strong></h3>
                <p class="text-intro">4 different parts:</p>
                <ul>
                    <li>Image pre-processing</li>
                    <li>Image classification</li>
                    <li>Text detection</li>
                    <li>Image processing</li>
                </ul>
              </div>
              <!-- .end .column -->
              <div class="column">
                <img src="static/img/flowchart.png" alt="flowchart">
              </div>
              <!-- .end .column -->
            </div>
            <!-- .end .grid -->
          </div>
          <!-- .end .wrap -->
        </section>

 <section>
          <div class="wrap">
            <h2>Features</h2>
            <ul class="flexblock features">
               <li>
                <div>
                  <h2>
                    Programming
                    <img src="static/img/python.jpeg" alt="python icon">
                  </h2>
                </div>
              </li>
              <li>
                <div>
                  <h2>
                    Simple Interface
                    <img src="static/img/flask.svg" alt="flask icon">
                  </h2>
                </div>
              </li>
              <li>
                <div>
                  <h2>
                    Computer vision
                    <img src="static/img/opencv.svg" alt="opencv icon">
                  </h2>
                </div>
              </li>
              <li>
                <div>
                  <h2>
                    Deep Learning
                    <img src="static/img/tensorflow.png" alt="tensorflow icon">
                  </h2>
                </div>
              </li>
              <li>
                <div>
                  <h2>
                    Performance
                    <img src="static/img/cpu.png" alt="cpu icon">
                  </h2>
                  Core i5. 4 Gig RAM.
                </div>
              </li>
              <li>
                <div>
                  <h2>
                    Input & Output
                    <img src="static/img/inout.png" alt="inout icon">
                  </h2>
                  Image file to string.
                </div>
              </li>
            </ul>
          </div>
        </section>


{% endblock %}